html {
  box-sizing: border-box;
  font-family: Georgia;
  background-color: #f0eee8;
  text-align: left;
  border-radius: 3px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  padding: .5em .75em;
  color: #512200;
}

div {
  color: #512200;
}

.link-card {
  display: inline-block;
  background-color: #dcd4cd;
  border-style: solid;
  border-color: #9a816d;
  border-radius: 3px;
}

.link-card h2 {
  margin: 0;
}

.link-card:hover {
  background-color: #cabdb2;
}

.btn-wrap {
  display: inline-block;
  background-color: #785439;
  border-radius: 8px;
  color: #fff;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 1em;
  margin-top: 1em;
  padding: .7em;
}

.btn {
  font-family: Dosis, sans-serif;
  font-size: 1.125rem;
}

.link-card:hover .btn {
  background-color: #512200;
}

.link-card:hover .btn-wrap {
  background-color: #512200;
}

.line {
  width: 15rem;
  margin-left: 1.5rem;
  border-top: 1px solid #9a816d;
  border-bottom: 1px solid #9a816d;
}

header {
  padding: .5em;
}

body {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  color: #512200;
  padding: 0 1rem;
  line-height: 1.5;
}

dl {
  padding: 0;
  margin: 1em;
  line-height: 1.4;
}

dd {
  display: inline-block;
  font-size: .875rem;
  font-style: italic;
  width: 30%;
}

dt {
  display: inline-block;
  margin: 0 .3em;
  font-size: .875rem;
  width: 30%;
}
